Final Health.json
[{"id":"5f17b45d.37db3c","type":"tab","label":"Flow Final","disabled":false,"info":""},{"id":"83fce837.e49d38","type":"http request","z":"5f17b45d.37db3c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["68f66c99.148db4","380593f0.57935c"]]},{"id":"a73454f8.179938","type":"function","z":"5f17b45d.37db3c","name":"Pre-tocken","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"gender\",msg.payload.gender)\nglobal.set(\"pulse\",msg.payload.pulse)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"temp\",msg.payload.temp)\nvar apikey=\"vjlxVzZqsuC_12b0ueRDIP3iSH6Rp_62OJi84nm-VXCd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":340,"wires":[["83fce837.e49d38"]]},{"id":"68f66c99.148db4","type":"function","z":"5f17b45d.37db3c","name":"Pre-Prediction","func":"var age = global.get(\"age\")\nvar gender = global.get(\"gender\")\nvar pulse = global.get(\"pulse\")\nvar bp = global.get(\"bp\")\nvar temp = global.get(\"temp\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"age\",\"gender\",\"pulse\",\"bp\",\"temp\"],\"values\":[[age,gender,pulse,bp,temp]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["bfcc32bc.0caa9"]]},{"id":"380593f0.57935c","type":"debug","z":"5f17b45d.37db3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"da2feb15.de4838","type":"function","z":"5f17b45d.37db3c","name":"","func":"var age = global.get('age')\nvar gender = global.get('gender')\nvar temp = global.get ('temp')\nvar bp = global.get ('bp')\nvar pulse = global.get ('pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",output)\nmsg.payload = {\n \n health: {\n     temp:temp,\n      bp:bp,\n      pulse:pulse,\n output: output\n  }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["49d2280c.118208","eee35355.a57b1"]]},{"id":"bfcc32bc.0caa9","type":"http request","z":"5f17b45d.37db3c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/c9301ee0-9934-4e52-9656-95f812a038f7/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["da2feb15.de4838","43db364d.2ddf38"]]},{"id":"43db364d.2ddf38","type":"debug","z":"5f17b45d.37db3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"49d2280c.118208","type":"debug","z":"5f17b45d.37db3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"eee35355.a57b1","type":"ui_text","z":"5f17b45d.37db3c","group":"40726d6d.b058c4","order":6,"width":"17","height":"2","name":"","label":"Status (if status is 2 the person is very much ill and he needs to consult a doctor)","format":"{{msg.payload}}","layout":"col-center","x":1180,"y":200,"wires":[]},{"id":"c51478c4.858bf8","type":"inject","z":"5f17b45d.37db3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":380,"wires":[["a73454f8.179938"]]},{"id":"6e99988b.6eb408","type":"ui_gauge","z":"5f17b45d.37db3c","name":"","group":"40726d6d.b058c4","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Degree","format":"{{msg.payload.temp}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":60,"wires":[]},{"id":"e385d490.2d3c28","type":"ui_gauge","z":"5f17b45d.37db3c","name":"","group":"40726d6d.b058c4","order":4,"width":"6","height":"6","gtype":"gage","title":"Bp","label":"","format":"{{msg.payload.bp}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":20,"wires":[]},{"id":"fe2d5ce6.647f3","type":"ui_gauge","z":"5f17b45d.37db3c","name":"","group":"40726d6d.b058c4","order":5,"width":"6","height":"6","gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":100,"wires":[]},{"id":"8e853d26.ccf23","type":"ibmiot in","z":"5f17b45d.37db3c","authentication":"apiKey","apiKey":"567e50f2.90a5c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"nodemcu1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":100,"wires":[["fe2d5ce6.647f3","d5f9267b.ee3ff8","e385d490.2d3c28","6e99988b.6eb408","a73454f8.179938"]]},{"id":"774b3e10.4f843","type":"ui_form","z":"5f17b45d.37db3c","name":"","label":"","group":"40726d6d.b058c4","order":1,"width":0,"height":0,"options":[{"label":"name","value":"name","type":"text","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"gender","value":"gender","type":"text","required":true,"rows":null}],"formValue":{"name":"","age":"","gender":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["a73454f8.179938","9f5070cd.9ccdc"]]},{"id":"9f5070cd.9ccdc","type":"debug","z":"5f17b45d.37db3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":240,"wires":[]},{"id":"d5f9267b.ee3ff8","type":"debug","z":"5f17b45d.37db3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":140,"wires":[]},{"id":"e7e7f15a.b51d2","type":"cloudant out","z":"5f17b45d.37db3c","name":"","cloudant":"","database":"healthdata","service":"node-red-wlpzd-2020--cloudant-1601471027516-65978","payonly":true,"operation":"insert","x":430,"y":180,"wires":[]},{"id":"40726d6d.b058c4","type":"ui_group","z":"","name":"HealthCare System","tab":"740b92b8.67463c","order":3,"disp":true,"width":"19","collapse":false},{"id":"567e50f2.90a5c","type":"ibmiot","z":"","name":"newapikey","keepalive":"60","serverName":"avv2dh.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"740b92b8.67463c","type":"ui_tab","z":"","name":"Remote Health Monitoring System","icon":"dashboard","disabled":false,"hidden":false}]