healthflows.json
[{"id":"c8b4d5d8.750a98","type":"tab","label":"Flow Final","disabled":false,"info":""},{"id":"42bb570e.65ce88","type":"http request","z":"c8b4d5d8.750a98","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["55fc944.6db5e6c","e64d0a0a.b99b18"]]},{"id":"e65d46d8.bea4e8","type":"function","z":"c8b4d5d8.750a98","name":"Pre-tocken","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"gender\",msg.payload.gender)\nglobal.set(\"pulse\",msg.payload.pulse)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"temp\",msg.payload.temp)\nvar apikey=\"vjlxVzZqsuC_12b0ueRDIP3iSH6Rp_62OJi84nm-VXCd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":340,"wires":[["42bb570e.65ce88"]]},{"id":"55fc944.6db5e6c","type":"function","z":"c8b4d5d8.750a98","name":"Pre-Prediction","func":"var age = global.get(\"age\")\nvar gender = global.get(\"gender\")\nvar pulse = global.get(\"pulse\")\nvar bp = global.get(\"bp\")\nvar temp = global.get(\"temp\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"age\",\"gender\",\"pulse\",\"bp\",\"temp\"],\"values\":[[age,gender,pulse,bp,temp]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["a208fc73.20c8d"]]},{"id":"e64d0a0a.b99b18","type":"debug","z":"c8b4d5d8.750a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"7d24d33c.ef9eac","type":"function","z":"c8b4d5d8.750a98","name":"","func":"var age = global.get('age')\nvar gender = global.get('gender')\nvar temp = global.get ('temp')\nvar bp = global.get ('bp')\nvar pulse = global.get ('pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",output)\nmsg.payload = {\n \n health: {\n pulse:pulse,\n bp:bp,\n temp:temp,\n output: output\n  }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["ea8f3379.040d","268dde72.be02d2"]]},{"id":"a208fc73.20c8d","type":"http request","z":"c8b4d5d8.750a98","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/c9301ee0-9934-4e52-9656-95f812a038f7/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["7d24d33c.ef9eac","f4f0aa57.c4e498"]]},{"id":"f4f0aa57.c4e498","type":"debug","z":"c8b4d5d8.750a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"ea8f3379.040d","type":"debug","z":"c8b4d5d8.750a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"268dde72.be02d2","type":"ui_text","z":"c8b4d5d8.750a98","group":"40726d6d.b058c4","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":950,"y":200,"wires":[]},{"id":"b5d3f6f3.ed27e8","type":"inject","z":"c8b4d5d8.750a98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":380,"wires":[["e65d46d8.bea4e8"]]},{"id":"a8ed2a77.bda9b8","type":"ui_gauge","z":"c8b4d5d8.750a98","name":"","group":"40726d6d.b058c4","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Degree","format":"{{msg.payload.temp}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":60,"wires":[]},{"id":"d2d10da0.0cee4","type":"ui_gauge","z":"c8b4d5d8.750a98","name":"","group":"40726d6d.b058c4","order":4,"width":"6","height":"6","gtype":"gage","title":"Bp","label":"","format":"{{msg.payload.bp}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":20,"wires":[]},{"id":"ee561f28.e5b5b","type":"ui_gauge","z":"c8b4d5d8.750a98","name":"","group":"40726d6d.b058c4","order":5,"width":"6","height":"6","gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":100,"wires":[]},{"id":"68c226a9.219298","type":"ibmiot in","z":"c8b4d5d8.750a98","authentication":"apiKey","apiKey":"567e50f2.90a5c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"nodemcu1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":100,"wires":[["ee561f28.e5b5b","f3b9b275.df0e9","d2d10da0.0cee4","a8ed2a77.bda9b8","e65d46d8.bea4e8"]]},{"id":"48e1e59d.a25cac","type":"ui_form","z":"c8b4d5d8.750a98","name":"","label":"","group":"40726d6d.b058c4","order":1,"width":0,"height":0,"options":[{"label":"name","value":"name","type":"text","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"gender","value":"gender","type":"text","required":true,"rows":null}],"formValue":{"name":"","age":"","gender":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["e65d46d8.bea4e8","81b15743.a35788"]]},{"id":"81b15743.a35788","type":"debug","z":"c8b4d5d8.750a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":240,"wires":[]},{"id":"f3b9b275.df0e9","type":"debug","z":"c8b4d5d8.750a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":140,"wires":[]},{"id":"b7dc498b.f14eb8","type":"cloudant out","z":"c8b4d5d8.750a98","name":"","cloudant":"","database":"healthdata","service":"node-red-wlpzd-2020--cloudant-1601471027516-65978","payonly":true,"operation":"insert","x":430,"y":180,"wires":[]},{"id":"40726d6d.b058c4","type":"ui_group","z":"","name":"HealthCare System","tab":"740b92b8.67463c","order":3,"disp":true,"width":"19","collapse":false},{"id":"567e50f2.90a5c","type":"ibmiot","z":"","name":"newapikey","keepalive":"60","serverName":"avv2dh.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"740b92b8.67463c","type":"ui_tab","z":"","name":"Remote Health Monitoring System","icon":"dashboard","disabled":false,"hidden":false}]